[workspace]
members = [
    "client",
    "server", 
    "common",
    "macros",
    "plasma_protocol"
]
exclude = ["archive", "assets", "makefiles", "target", ".cargo", ".git", ".github"]
resolver = "2"


